*.iml
.gradle
/local.properties
.idea/
!.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
jacoco.exec
local.properties
*.pyc
*.swp
project-coverage.json
latest-project-ceverage.json
project-coverage.html
**/.idea
ask-timings.json
local-settings.gradle
mre-tools/
/tools/scripts/coverage-rules.json
/tools/scripts/json-coverage-report.kspn
/test-plan.json
db.json